body {
  background-color: #e3f2fd; 
  font-family: Arial, sans-serif;
  margin: 40px;
}


h1 {
  color: #1565c0; 
  text-align: center;
  font-size: 40px;
}


h2 {
  color: #388e3c;
  text-align: left;
  font-size: 28px;
}


p {
  color: #444;
  text-align: justify;
  font-size: 18px;
}


.interno {
  color: purple;
  font-size: 20px;
  text-align: left;
}


.justificado {
  color: #333;
  text-align: justify;
}

.direita {
  color: #b71c1c;
  text-align: right;
  font-size: 20px;
}
    